<div>
    <a href="" ng-click="new()">Новый запрет</a>

    <h2>Запретить {{zapret.what}}</h2>
   
    <div>        
        В связи с участившимися случаями {{zapret.reason}} инициативной группой депутатов предложено запретить {{zapret.what}}.<br/>
        {{ zapret.what.upperFirst() }} скрывают внутри себя угрозу сувернитету РФ и подрывают моральные устои общества.<br/>
        По данным Левада-центра за то, чтобы запретить {{zapret.what }} выступают {{zapret.pro}} опрошеных жителей Российской Федерации.<br/>
    </div>
</div>