<div>
    <div class="center zapret-button">
        <a href="" ng-click="new()" class="btn btn-lg btn-default">Создать новый запрет</a>
    </div>
    <h2>Запретить {{zapret.what}}</h2>

    <div class="left">
        В связи с участившимися случаями {{zapret.reason}} предлагаем запретить {{zapret.what}} для физических и юридических лиц.<br />
        На данный момент в законодательстве Российской Федерации нет норм регулирующих {{zapret.what}}.<br />
        Но в тоже время {{ zapret.inf ? zapret.inf : zapret.what }} {{ (zapret.plural) ? 'скрывают' : 'скрывает' }} внутри себя угрозу сувернитету РФ и 
        {{ (zapret.plural) ? 'подрывают' : 'подрывает' }} моральные устои общества{{zapret.consequences}}.<br />
        Вред от того, что {{ zapret.what }} {{ (zapret.plural) ? 'разрешены' : 'разрешён' }} многократно доказан экспертами в данной области. <br/>
        По данным Левада-центра за то, чтобы запретить {{zapret.what }} выступают {{zapret.pro}} опрошеных жителей Российской Федерации.<br />

    </div>
</div>